.snitcher-header {
    /* width: 90vw; */
}

.snitcher-header>nav {
    height: 5em;
}

.search-input {
    width: unset;
    border-radius: 19px;
}

.navbar-collapse {
    justify-content: flex-end;
    padding-right: 1em;
}

.navbar-brand {
    width: 6.5rem;
    text-align: end;
    color: rgb(218 241 166);
    font-size: 1.4em;
}

.nav-item {
    border: 1px solid white;
    border-radius: 19px;
    padding: 0 .6em;
}

.nav-item:last-child {
    /* border: none; */
}

.search-input,
.nav-item {
    margin-right: 0.6em;
}

.nav-link {
    padding-block: 6px;
    color: white;
}

.nav-link:hover {
    color: black;
}

.nav-item:hover {
    background-color: gold;
    border: 1px solid black;
}

.nav-item:last-child:hover {
    /* background-color: inherit; */
    cursor: pointer;
}

.profile-bar {
    margin-right: 8em;
    position: relative;
    left: 4pc;
}

.username,
.profile-bar>i {
    color: yellow;
    padding-inline: .2em;
}

.pro-img {
    width: 2.3em;
    height: 2.3em;
    border-radius: 1.2em;
}

@media (max-width:991px) {
    .nav-item {
        border: none;
        border-radius: 0;
        background-color: black;
        /* padding: 0 .6em; */
    }
    .navbar-nav {
        margin-top: 18px;
        width: 110%;
    }
}

@media (max-width:440px) {
    .pro-img {
        display: none;
    }
    .username {
        font-family: cursive;
    }
    @media (max-width:362px) {
        .profile-bar {
            display: none;
        }
    }
}