.listUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    background-color: #281902e7;
    overflow: auto;
}

.listItem {
    width: 20vw;
    height: 54vh;
    overflow: hidden;
}

.imgSpanIdex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgSpanIdex img {
    width: 60px
}

.postList {
    width: 80%;
    flex-grow: 1;
}

.card {
    border: 1px solid white;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p {
    width: 100%;
}

@media (max-width:430px) {
    .listUl {
        flex-direction: column;
    }
}